/vendor
/node_modules
/.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/uploads
!/storage/app/uploads/.gitignore
/storage/app/uploads/*
!/storage/app/uploads/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
